.interests .interests-content .card .interests-imgs {
    width: 8.125rem;
    height: 8.125rem;
}

.interests .interests-content .card .text {
    font-size: 1.5625rem;
    font-weight: 500;
    margin: 0.625rem 0 0.4375rem 0;
}

/* MEDIA QUERIES */
@media (max-width: 50em) {
    .interests .interests-content .card {
        width: calc(50% - 0.625rem);
        margin-bottom: 1.25rem;
    }
}

@media (max-width: 40.625em) {
    .interests .interests-content .card {
        width: 100%;
    }
}